{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вопрос</title>
    <link rel="stylesheet" href="{% static 'question_page.css' %}">

</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="header__title">Московский Политех</h1>
            <nav class="header__nav">
                <a href="/" class="nav__link">Главная</a>
                <a href="{% url 'profiles:faculties_list' %}" class="nav__link">Факультеты</a>
                <a href="{% url 'profiles:profiles_list' %}" class="nav__link">Профили</a>
            </nav>
        </div>
    </header>
    <div class="container">

        <!-- Блок вопроса -->
        <div class="question-block">
            <h2>Вопрос {{question.number}}</h2>
            <div class="answers">
                {% for answer in answers %}
                <div class="answer">
                    {%if answer.next_question %}
                    <a href="{% url 'test:test' answer.next_question.id %}">{{answer.text}}</a>
                    {%else%}
                    <a href="{% url 'test:result' answer.recommend_profile.id %}">{{answer.text}}</a>
                    {%endif%}
                </div>
                {% endfor %}
            </div>
            <div class="next-btn">
                <a href="#">→</a>
            </div>
        </div>

        <!-- Блок дополнительной информации -->
        <div class="info-block">
            <h2>{{question.body}}</h2>

        </div>
    </div>
</body>
</html>
