{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профили</title>
    <link rel="stylesheet" href="{% static 'faculties_list.css' %}">
</head>
<body>
<header class="header">
        <div class="container">
            <h1 class="header__title">Московский Политех</h1>
            <nav class="header__nav">
                <a href="/" class="nav__link">Главная</a>
                <a href="{% url 'profiles:faculties_list' %}" class="nav__link">Факультеты</a>
                <a href="{% url 'profiles:profiles_list' %}" class="nav__link">Профили</a>
            </nav>
        </div>
        </header>
    <div class="container">


        <section class="profiles">
            <h2>Все факультеты университета</h2>
            <div class="grid">
                {% if profiles %}
                    {% for profile in profiles %}
                    <div class="card">
                        <h3>{{ profile.name }}</h3>
                        <p>{{ profile.description }}</p>
                        <a href="{% url 'profiles:profile' profile.id %}" class="view-profile">Подробнее</a>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>Нет подходящих профилей по указанным баллам.</p>
                {% endif %}
            </div>
        </section>

        <footer class="footer">
            <p>© Московский Политех. Все права защищены.</p>
        </footer>
    </div>
</body>
</html>
